a {
    color: #0b1f6e;
    font-weight: 700;
}

body {
    padding-top: 75px;
    background: #eeeeeeb5;
}

h4 {
    padding-top: 5px;
    text-decoration: underline;
    color: #414141;
    text-shadow: 2px 7px 11px rgba(126, 126, 125, 0.78);
}

h4.sub-title {
    font-size: 18px;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: .5px;
}

button:disabled {
    cursor: not-allowed;
}

.block {
    margin: 30px auto;
    padding: 20px 30px;
    max-width: 992px;
    box-shadow: inset 0 0 8px 0 #67676736;
}

.description-block {
    text-align: center;
}

.description-source {
    padding-top: 5px;
    font-size: 13px;
    font-weight: bold;
}

.description-source a:hover {
    background: transparent !important;
}

#cas-result-chart {
    display: none;
}

#cas-result-animation {
    display: none;
}

#cas-result-custom {
    min-height: 62px;
}

#chart {
    max-height: 435px;
}

#animation {
    width: 100% !important;
    height: 100% !important;
}

.container {
    min-height: calc(100vh - 100px);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 20px 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.container > div:last-of-type {
    margin-bottom: 12px !important;
    margin-top: -5px;
}

.fa, .fas{
    font-size: 17px;
}

.page-header {
    position: fixed;
    background: rgb(51,51,51);
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #585858;
    z-index: 1000;
    top: 0;
}

.page-header-dropdown-submenu {
    background: rgb(51,51,51);
    z-index: 1000;
    width: 183px;
    padding: 0 !important;
    margin: 0 !important;
    border: 1.5px solid #585858;
    left: -2px !important;
    border-radius: 0;
}

.page-header-dropdown-submenu .page-header-menu-item {
    border-top: 1.5px solid #585858;
    border-right: none;
}

.page-header-dropdown-submenu .page-header-menu-item a {
    min-height: 35px;
    font-size: 11px;
}

.page-header-dropdown-submenu .page-header-menu-item:first-child {
    border-top: none;
}

.page-header-language-select {
    margin-left: auto;
    padding: 5px;
}

.page-header-language-select .image-container {
    margin: 2px;
    padding: 3px;
    cursor: pointer;
}

.page-header-language-select .image-container:hover {
    margin-bottom: 3px;
}

.page-header-language-select .active {
    border: 1px groove #dddddda3;
}

.page-header-language-select img {
    width: 30px;
    height: 18px;
}

.page-header-menu {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-header-menu-item {
    border-right: 1.5px solid #585858;
    flex: 1;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c2c2c2;
}

.page-header-menu-item a.active, a:hover {
    background: rgb(80, 80, 80);
}

.page-header-menu-item a {
    display: flex;
    color: #ddd !important;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

td.checked {
    background: url('../assets/icons/checked.png') no-repeat center center;
    background-size: auto 26px;
}

@media (max-width: 992px) {
    body {
        padding-top: 50px;
    }

    .block {
        margin: 22px auto;
        padding: 15px 22px;
    }

    .container {
        max-width: calc(100% - 30px);
        padding-top: 20px;
        min-height: calc(100vh - 80px);
        margin: 15px;
    }
}
